* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-size: 17px;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
#login {
    width: 500px;
    height: 500px;
    position: absolute;
    top: calc(42vh - 200px);
    left: calc(40vw - 200px);
    overflow: hidden;

}

  .content {
    position: absolute;
    height: 100%;
    width: 100%;
    color: #fff;
    background: rgba(100,100,100,0.4);
    padding: 30px 0px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
  }
  #head {
    font-family: 'Gaegu', cursive;
    font-size: 48px;
    margin-bottom: 40px;
    margin-top: 15px;
    text-align: center;

  }
   
  #font {
    font-family: 'Single Day', cursive;
    font-size: 23px;
  }
  
  #myBtn {
    width: 90px;
    font-size: 16px;
    padding: 8px;
    border: none;
    background: rgb(93, 123, 206);
    color: #fff;
    cursor: pointer;
  }

  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  #text-value {
  padding:5px;
  outline: none;
  transition: .2s;
  font-size: 20px;
  } 
  input[type=text]:focus{
      border-color:rgb(254, 255, 183);
      box-shadow: 0 0 8px 0 rgb(254, 255, 183);
  }

  #a {
    font-family:sans-serif;
    font-size: 10px;
  }
  #img {
    width:80%;
    margin-left: 24px;
  }
  #grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }